@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    position: fixed;
    background: transparent;
    width: 100%;
    padding: 10px 0;
    z-index: 12;
    margin-top: 2px;
    top: 12px;
}

nav .menu {
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.menu .logo a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    position: relative;
    margin-top: 2px;
    top: 2px;
}

.menu ul {
    display: inline-flex;
}

.menu ul li {
    list-style: none;
    margin-left: 7px;
}

.menu ul li:first-child {
    margin-left: 0px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.menu ul li a:hover {
    background: #fff;
    color: black;
}

.img {
    background: url('base.jpg') no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.img::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.center {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 20px;
    text-align: center;
}

.center .title {
    color: #fff;
    font-size: 55px;
    font-weight: 600;
    text-align: left;
    position: relative;
    left: 22px;
    max-width: fit-content;
}

.center .sub_title {
    color: #fff;
    font-size: 52px;
    font-weight: 600;
    text-align: left;
    position: relative;
    left: 22px;
    max-width: fit-content;
}

.center .jobTitle {
    color: rgb(69, 69, 69);
    font-size: 56px;
    font-weight: 600;
    text-align: left;
    position: absolute;
    left: 190px;
    max-width: fit-content;
    top: 76px;
}

.center .btns {
    margin-top: 20px;
    position: absolute;
    left: 38px;
    max-width: fit-content;
    color: #fff;
}

.center .btns button {
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: none;
    margin: 0 10px;
    border: 2px solid white;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}

.center .btns button:first-child {
    color: #fff;
    background: none;
}

.btns button:first-child:hover {
    background: white;
    color: black;
}

.center .btns button:last-child {
    background: white;
    color: black;
}

.stitle {
    color: #fff;
    font-size: 55px;
    font-weight: 600;
    text-align: left;
    position: relative;
    left: 22px;
    top: 360px;
    max-width: fit-content;
}

p {
    font-family: Poppins;
    font-weight: 400;
    color: #fff;
    font-size: 18px;
    text-align: justify;
    position: relative;
    left: 25px;
    width: 50%;
}

.profile {
    position: absolute;
    width: 400px;
    max-width: fit-content;
    border-radius: 44px;
    left: 120vh;
    top: -60px;
}

.noTD {
    color: #fff;
    text-decoration: none;
}

.noTD:hover {
    color: black;
    margin: 0 10px;
}